body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
}

a {
	color: #689;
}

#header {
	height: 150px;
	
	background: #e5f3f7; /* Old browsers */
	background: -moz-linear-gradient(top, #e5f3f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f3f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5f3f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5f3f7 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e5f3f7 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f3f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e5f3f7 0%,#ffffff 100%); /* W3C */
}

.constrainWidth {
	width: 960px;
	margin: 0px auto;
}

#logo {
	margin: 30px 10px;
}

#searchContainer {
	float: right;
	padding: 25px 10px 0 0;
	text-align: right;
	
}

#search {
	padding: 5px 15px;
	font-size: 20px;
	width: 500px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	border: 1px solid #ddd;
}

#shopMenu {
	float: left;
	width: 190px;
	border-right: 2px solid #eee;
	padding-left: 14px;
	min-height: 800px;
}

#content {
	margin-left: 200px;
	padding: 0px 10px;
}

.primaryCollections {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	font-size: 15px;
}

.primaryCollections li {
	padding: 0 0 5px 0;
	margin: 0;
}

.primaryCollections a {
	color: #689;
	text-decoration: none;
}

.collections {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
	
	font-size: 13px;
}

.collections li {
	padding: 0 0 5px 0;
	margin: 0;
}

.collections a {
	color: #689;
	text-decoration: none;
}

.collections a:hover,
.primaryCollections a:hover {
	text-decoration: underline;
}


h2 {
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: normal;
	font-size: 24px;
	padding-left: 10px;
}

.productTeaserLink {
	text-decoration: none;
}

.productTeaser {
	padding: 10px;
}

.productTeaserName {
	width: 208px;
	background-color: #eee;
	font-family: arial, verdana, sans-serif;
	font-weight: normal;
	width: 208px;
	padding: 8px;
	font-size: 16px;
	height: 2em;
	color: #666;
	line-height: 1.3em;
	overflow: hidden;
}

.productTeaserImage {
	width: 220px;
	height: 180px;
	border: 2px solid #eee;
	overflow: hidden;
}

.productTeaserImage img {
	margin: auto auto;
}

.productTeaserPrice {
	font-family: arial, verdana, sans-serif;
	
	background-color: #eee;
	
	width: 208px;
	padding: 2px 8px 8px 8px;

	color: #333;
	font-weight: bold;
	font-size: 16px;
	font-family: arial, verdana, sans-serif;
}

.productTeaserLink:hover .productTeaserImage {
	border: 2px solid #ddd;
}

.productTeaserLink:hover .productTeaserName {
	background-color: #ddd;
}

.productTeaserLink:hover .productTeaserPrice {
	background-color: #ddd;
}

.productTeaserShipping {
	color: #0a0;
	font-size: 12px;
	font-weight: normal;
	margin-left: 4px;
	margin-top: 3px;
	float: right;
}

.facebook {
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=60);
}

.productInfo {
	width: 320px;
	padding: 0px 10px;
	float: left;
}

.productImage {
	width: 320px;
	height: 240px;
	border: 2px solid #eee;
	overflow: hidden;
	text-align: center;
}

.productPrice {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #333;
	padding-bottom: 10px;
}

.productShipping {
	font-size: 13px;
	padding: 5px;
	text-align: center;
	color: #666;
}

.productShipping .green {
	color: #090;
}

.productStock {
	font-size: 13px;
	padding: 5px;
	text-align: center;
	color: #666;
}

.productStock img,
.productShipping img {
	position: relative;
	top: -3px;
}

.productBuyNow {
	font-size: 13px;
	color: #666;
	text-align: center;
	padding-bottom: 15px;
}



.buyButton {
	padding: 5px 15px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 13px;
	line-height: 1;
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#52A8E8), to(#377AD0));
	background-image: -moz-linear-gradient(0% 100% 90deg,#377AD0, #52A8E8);
	background-color: #52A8E8;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	-o-border-radius: 23px;
	border-radius: 23px;
	border: 1px solid #20559A;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
}

.buyButton:hover, .buyButton:focus {
	background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#54A1D8), to(#1967CA));
	background-image: -moz-linear-gradient(0% 100% 90deg,#1967CA, #54A1D8);
	background-color: #52A8E8;
	color: white;
}

.buyButton:active {
	background: #2D7CD1;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.7);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	color: white;
}

.buyButton[disabled] {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.noRight {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.buyTrolleyButton {
	padding: 5px 15px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 13px;
	line-height: 1;
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#5BD542), to(#40BE27));
	background-image: -moz-linear-gradient(0% 100% 90deg,#40BE27, #5BD542);
	background-color: #5BD542;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	-o-border-radius: 23px;
	border-radius: 23px;
	border: 1px solid #248910;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
}

.buyTrolleyButton:hover, .buyTrolleyButton:focus {
	background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#59C643), to(#27B90A));
	background-image: -moz-linear-gradient(0% 100% 90deg,#27B90A, #59C643);
	background-color: #5BD542;
	color: white;
}

.buyTrolleyButton:active {
	background: #38BE1D;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.7);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	color: white;
}

.buyTrolleyButton[disabled] {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.noLeft {
	position: relative;
	left: -3px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}




.trolleyButton {
	padding: 10px 25px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#e85252), to(#d03737));
	background-image: -moz-linear-gradient(0% 100% 90deg,#d03737, #e85252);
	background-color: #e85252;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	-o-border-radius: 23px;
	border-radius: 23px;
	border: 1px solid #9a2020;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.5);
}

.trolleyButton:hover, .buyButton:focus {
	background-image: -webkit-gradient(linear, 0% 0%, 0%100%, from(#d85454), to(#ca1919));
	background-image: -moz-linear-gradient(0% 100% 90deg,#ca1919, #d85454);
	background-color: #e85252;
	color: white;
}

.trolleyButton:active {
	background: #d12d2d;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.7);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 1px rgba(255,255,255,.5);
	color: white;
}



.productDescription {
	margin-left: 340px;
	padding-left: 15px;
	color: #666;
	font-size: 14px;
}

.productDescription a {
	color: #689;
}


.productVariations {
	padding-bottom: 5px;
}

.productInfo span.subtleDropdown {
	position: relative;
	
	cursor: pointer;
	
	color: #888;
}

.productInfo span.subtleDropdown ul {
	z-index: 1000;
	
	position: absolute;
	top: 1.5em;
	left: 0px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	border: 1px solid #ddd;
	background-color: #fff;
	width: 300px;
}

.productInfo span.subtleDropdown li {
	cursor: pointer;
	padding: 4px;
	text-align: left;
}

.productInfo span.subtleDropdown li:hover {
	background-color: #f6f6f6;
}

.productInfo span.subtleDropdown li .icon {
	float: left;
	display: block;
	width: 10px;
	margin-right: 4px;
}

.productInfo span.subtleDropdown .arrow {
	font-size: 7px;
	color: #888;
	padding-left: 4px;
}

.productImages {
	text-align: center;
}

.productImages img {
	margin: 5px 2px;
	border: 1px solid #eee;
}

.spinner {
	display: block;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
	width: 16px;
	height: 16px;
}

.pageContent {
	padding: 10px;
}

.trolleyTable {
	
}

.trolleyTable thead th {
	background-color: #eff6f9;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}

.trolleyTable tbody td {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}

.trolleyVariation {
	font-size: 90%;
	color: #666;
}

.lightTextInput {
	border: 1px solid #ccc;
	padding: 3px;
	font-size: 13px;
}

.footer {
	clear: both;
	text-align: center;
	font-size: 11px;
	color: #666;
}

.contact {
	
}

.contact th {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	font-size: 13px;
}